<html>
  <head>
    <%= stylesheet_link_tag 'search' -%>
    <%= stylesheet_link_tag 'font-awesome' -%>
    <%= javascript_include_tag 'jquery' -%>
    <%= javascript_include_tag 'animate' -%>
    <link href='//fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400' rel='stylesheet' type='text/css'>
    <!--<script src="../../../database.js"></script>-->
  </head>
  <body>
    <div id="sidebar">
      <div class="input-wrapper">
        <label>Make</label>
        <select name="make" onchange="queryChange(this)">
          <option value="All" selected>All</option>
          <option value="Audi">Audi</option>
          <option value="Benz">Benz</option>
          <option value="BMW">BMW</option>
          <option value="Chevrolet">Chevrolet</option>
          <option value="Chrysler">Chrysler</option>
          <option value="Nissan">Nissan</option>
          <option value="Porsche">Porsche</option>
          <option value="Tesla">Tesla</option>
        </select>
        <br/>
        <br/>

        <label>Price</label>
        <select class="price" name="price">
          <option value=""></option>
          <option value="gt">&gt=</option>
          <option value="lt">&lt=</option>
        </select>
        <input class="price" type="number" name="price" min="0" max="999"
               placeholder="Thousand $" onkeypress="queryChange(this, event)"/>
        <i class="fa fa-plus" onclick="queryChange(this)"></i>

        <br/>
        <br/>
        <label>Mileage</label>
        <select class="mileage" name="milage">
          <option value=""></option>
          <option value="gt">&gt=</option>
          <option value="lt">&lt=</option>
        </select>
        <input class="mileage" type="number" name="mileage" min="0" max="9999"
               placeholder="Thousand KM" onkeypress="queryChange(this, event)"/>
        <i class="fa fa-plus" onclick="queryChange(this)"></i>

        <br/>
        <br/>
        <label>Year</label>
        <select class=year name="year">
          <option value=""></option>
          <option value="gt">&gt=</option>
          <option value="lt">&lt=</option>
        </select>
        <input class="year" type="number" name="year" min="0" max="3000"
               placeholder="YYYY" onkeypress="queryChange(this, event)"/>
        <i class="fa fa-plus" onclick="queryChange(this)"></i>

        <br/>
        <br/>
        <label>Various...</label>
        <label>other...</label>
        <label>filters...</label>
        <label>here...</label>
      </div>
      <div id="query-wrapper">
        Your Search Parameters
      </div>
    </div>
    <div id="viewport">
      <div id="topbar">
        LOGO
        <select name="sort" onchange="sortChange(this)">
          <option value="lth-price" selected>Price: Low to High</option>
          <option value="htl-price">Price: Highest to Lowest</option>
          <option value="popularity">Popularity</option>
        </select>
      </div>
      <img id="spinner" src="spinner.gif"/>
      <div class="metrowrapper">
        <div id="metrogrid"></div>
      </div>
    </div>
  </body>
  <script>
    /* LOL stuff */
    String.prototype.capitalize = function() {
      return this.charAt(0).toUpperCase() + this.slice(1);
    }

    String.prototype.costFormat = function() {
      return this.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    };

    /* Some globals */
    $metrogrid = $('#metrogrid');
    $filterq = $('#query-wrapper');
    $spinner = $('#spinner');
    $query = {
      make: "All",
      priceLow: "",
      priceHigh: "",
      mileageLow: "",
      mileageHigh: "",
      yearLow: "",
      yearHigh: ""
    };
    $filteredArray = DATABASE;
    $filteredQueue = [];
    $queryTimeout = null;
    $loadingInterval = window.setInterval(function() {
      if ($filteredQueue.length > 0) {
        $metrogrid.append($filteredQueue.shift());
      }
    }, 100);

    /* On change call handles */
    function showSubMenu( button ) {
    }

    function removeFilter( filter ) {
      $filterWrapper = $(filter).parent();
      // Remove query and
      var filterName = $filterWrapper.find('.filter-name').text();
      var filterComp = $filterWrapper.find('.filter-compare').text();

      if (filterName == 'Price') {
        if (filterComp == 'more than') {
          $query.priceLow = '';
        } else {
          $query.priceHigh = '';
        }
      } else if (filterName == 'Mileage') {
        if (filterComp == 'more than') {
          $query.mileageLow = '';
        } else {
          $query.mileageHigh = '';
        }
      } else if (filterName == 'year') {
        if (filterComp == 'gt') {
          $query.yearLow = '';
        } else {
          $query.yearHigh = '';
        }
      } else {
        alert("wtf?");
      }

      // 2 second delay to conserve server calls
      $queryTimeout = window.setTimeout(function() {
        queryThumbnails($query);
      }, 2000);

      $filterWrapper.addClass('fadeOutRight');
      $filterWrapper.one(
        'webkitAnimationEnd mozAnimationEnd MSAnimationEnd animationend',
        function() {
          $(this).remove();
        }
      );
    }

    function queryChange( query, event ) {
      // Check if event is defined and if key code is 13
      if (typeof event !== 'undefined' ) {
        if (event.keyCode != 13) {
          return;
        }
        $inputField = $(query);
        $selectField = $inputField.prev();
      } else { // Else, its our icon
        $inputField = $(query).prev();
        $selectField = $inputField.prev();
      }

      // Make check
      if ($inputField.prop('tagName') != 'LABEL') {
        // Data validity check
        var error = false;
        var selectVal = $selectField.val();
        var inputVal = $inputField.val();

        if (selectVal == "") {
          $selectField.addClass('error');
          error = true;
        } else {
          $selectField.removeClass('error');
        }
        if (inputVal == "" || !inputVal.match(/^\d+$/)
            && inputVal > 0) {
          $inputField.addClass('error');
          error = true;
        } else {
          $inputField.removeClass('error');
        }
        if (error) return;

        // Clear our values
        $inputField.val('');
        $selectField.val('');
      } else {
        $inputField = $(query)
        var inputVal = $inputField.val();
      }

      // Clear time out if there was previous query timer and query inputs
      window.clearTimeout($queryTimeout);
      $spinner.show();

      // Set values for querying
      var fieldName = $inputField.attr('name');
      if (fieldName == 'make') {
        $query.make = inputVal;
      } else if (fieldName == 'price') {
        inputVal *= 1000;
        if (selectVal == 'gt') {
          $query.priceLow = inputVal;
        } else {
          $query.priceHigh = inputVal;
        }
        inputVal = '$' + inputVal.toString().costFormat();
      } else if (fieldName == 'mileage') {
        // inputVal *= 1000;
        if (selectVal == 'gt') {
          $query.mileageLow = inputVal;
        } else {
          $query.mileageHigh = inputVal;
        }
        inputVal = inputVal + 'km'
      } else if (fieldName == 'year') {
        if (selectVal == 'gt') {
          $query.yearLow = inputVal;
        } else {
          $query.yearHigh = inputVal;
        }
      } else {
        alert("wtf?");
      }

      if (fieldName != 'make') {
        insertFilter({
          name: fieldName.capitalize(),
          compare: (selectVal == 'gt') ? 'more than' : 'less than',
          amount: inputVal
        });
      }

      // 2 second delay to conserve server calls
      $queryTimeout = window.setTimeout(function() {
        queryThumbnails($query);
      }, 2000);
    }

    function sortChange( sort ) {
      $spinner.show();
      var option = $(sort).val();
      sortThumbnails(option);
    }


    /* Actual changes */
    function queryThumbnails( query ) {
      $filteredArray = DATABASE.filter(function(elem) {
        return (query.make == "All" || query.make == elem.make)
            && (query.priceLow == "" || query.priceLow <= elem.price)
            && (query.priceHigh == "" || query.priceHigh >= elem.price)
            && (query.mileageLow == "" || query.mileageLow <= elem.mileage)
            && (query.mileageHigh == "" || query.mileageHigh >= elem.mileage)
            && (query.yearLow == "" || query.yearLow <= elem.year)
            && (query.yearHigh == "" || query.yearHigh >= elem.year)
      });
      loadThumbnails($filteredArray);
    }

    function sortThumbnails( option ) {
      if (option == 'lth-price') {
        $filteredArray.sort(function(a,b) {
          return a.price - b.price;
        });
        loadThumbnails($filteredArray);
      } else if (option == 'htl-price') {
        $filteredArray.sort(function(a,b) {
          return b.price - a.price;
        });
        loadThumbnails($filteredArray);
      } else {
        console.log('WIP');
      }
    }

    function generateThumbnailMarkup( object ) {
      return [
          '<div class="thumbnail animated fadeInUp">',
          '<img src="'+ object.thumbnail +'"/>',
          '<div class="price">$'+object.price.toString().costFormat()+'</div>',
          '<div class="info-bar">',
          '<div class="info-name">'+object.name+'/'+object.year+'/'+object.mileage+'</div>',
          '<div class="info-description">'+object.description+'</div>',
          '<i class="fa fa-ellipsis-v" onclick="showSubMenu(this)"></i>',
          '</div>',
          '</div>'
      ].join("")
    }

    function generateFilterMarkup( object ) {
      return [
          '<div class="filter-wrapper animated fadeInLeft">',
          '<div class="filter-name">'+ object.name +'</div>',
          '<div class="filter-compare">'+ object.compare +'</div>',
          '<div class="filter-amount">'+ object.amount +'</div>',
          '<i class="fa fa-close" onclick="removeFilter(this)"></i>',
          '</div>'
      ].join("")
    }

    function loadThumbnails( arrayOfObj ) {
      $metrogrid.empty();

      // Simulate delay from query
      window.setTimeout(function() {
        $spinner.hide();
        for (var i = 0; i < arrayOfObj.length; i++) {
          $filteredQueue.push(generateThumbnailMarkup(arrayOfObj[i]));
        }
      }, 1000);
    }

    function insertFilter( object ) {
      $filterq.append(generateFilterMarkup(object));
    }
    sortThumbnails('lth-price');
  </script>
</html>