EPIKCAR HOME PAGE
<html>
<head>

</head>
<body>
  <div id="header"></div>
  <div id="hero"></div>
  <div id="info1"></div>
  <div id="info2"></div>
  <div id="info3"></div>
  <div id="footer"></div>
</body>
</html>