<div class="expert-container">
  <div class="expert-header title">
    THE EXPERT
  </div>
  <div class="expert-information">
    <div class="expert-photo">
      <img src="//www.adtechnology.co.uk/images/UGM-default-user.png">
    </div>
    <div class="expert-contact">
      <div class="expert-name">John Doe</div>
      <div class="expert-address">123 Test street</div>
      <div class="expert-address-two">A1A1A1 Ontario, CA</div>
      <div class="expert-number">1-800-999-5555</div>
      <div class="expert-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
    <div class="expert-description">
      Bacon ipsum dolor amet chuck drumstick alcatra,
      shankle cupim meatloaf short ribs biltong salami
      leberkas pork. Pork prosciutto tri-tip shoulder
      venison t-bone hamburger kielbasa drumstick.
    </div>
    <div class="expert-shop-location">
      <img src="//www.techmerry.com/wp-content/uploads/2014/08/Implement-GPS-data-for-your-Google-MAP.gif">
    </div>
  </div>

</div>