<div class="report-container">
  <div class="stream">
    <div class="stream-header">
      <div class="stream-grade grade-c">C</div>
      <div class="stream-label">Powertrain</div>
    </div>
    <div class="stream-list-container">
      <i class="fa fa-angle-right"></i>
      <div class="stream-grade grade-a">A</div>
      <div class="stream-description">Engine Operation</div>
      <i class="fa fa-question"></i>
    </div>
    <div class="stream-list-container">
      <i class="fa fa-angle-right"></i>
      <div class="stream-grade grade-b">B</div>
      <div class="stream-description">Engine Quality</div>
      <i class="fa fa-question"></i>
    </div>
    <div class="stream-list-container">
      <i class="fa fa-angle-right"></i>
      <div class="stream-grade grade-c">C</div>
      <div class="stream-description">Transmission</div>
      <i class="fa fa-question"></i>
    </div>
    <div class="stream-list-container">
      <i class="fa fa-angle-right"></i>
      <div class="stream-grade grade-d">D</div>
      <div class="stream-description">Other Components</div>
      <i class="fa fa-question"></i>
    </div>
  </div>
  <div class="stream">
    <div class="stream-header">
      <div class="stream-grade grade-a">A</div>
      <div class="stream-label">Chassis/Drive</div>
    </div>
    <div class="stream-line"></div>
    <div class="stream-list-container">
      <div class="stream-grade grade-a">A</div>
      <div class="stream-description">Underbody Condition</div>
    </div>
    <div class="stream-list-container">
      <div class="stream-grade grade-a">A</div>
      <div class="stream-description">Structure</div>
    </div>
    <div class="stream-list-container">
      <div class="stream-grade grade-a">A</div>
      <div class="stream-description">Suspension & Brakes</div>
    </div>
    <div class="stream-list-container">
      <div class="stream-grade grade-a">A</div>
      <div class="stream-description">Fluid Flow Quality</div>
    </div>
  </div>
  <div class="stream">
    <div class="stream-header">
      <div class="stream-grade grade-a">A</div>
      <div class="stream-label">Exterior & More</div>
    </div>
    <div class="stream-line"></div>
    <div class="stream-list-container">
      <div class="stream-grade grade-a">A</div>
      <div class="stream-description">Exterior</div>
    </div>
    <div class="stream-list-container">
      <div class="stream-grade grade-a">A</div>
      <div class="stream-description">Signs of Accident & Repain</div>
    </div>
    <div class="stream-list-container">
      <div class="stream-grade grade-a">A</div>
      <div class="stream-description">Other</div>
    </div>
  </div>
</div>
