$primary-color-dawn: #86C5EE;
$primary-color-lite: #59ADE4;
$primary-color: #359ADC;
$primary-color-dark: #1086D2;
$primary-color-dusk: #0666A5;

$secondary-color: #2CE28A;
$secondary-color-lite: #81F0BB;
$secondary-color-dark: #00B35D;
$tertiary-color: #454DE1;

$desktop-width: 800px;
$fake-white: #f7f7f7;
$fake-black: #333;

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  min-width: 800px;
}

.title {
  font-family: 'Montserrat';
}

#header {
  background-color: white;
  position: absolute;
  height: 70px;
  width: 100%;
  box-shadow: 3px 0 5px rgba(0,0,0,0.5);
  z-index: 100000000;

  .header-container {
    width: $desktop-width;
    margin: auto;
    height: 70px;
  }
}

#footer {
  background-color: $fake-black;
  height: 140px;

  .footer-container {
    width: $desktop-width;
    margin: auto;
    padding: 30px 0px;

    .left {
      float: left;
      color: white;

      a {
        display: block;
        text-decoration: none;

        &:visited {
          color: white;
        }
      }

      i {
        display: inline-block;
      }
    }

    .right {
      float: right;
      width: 300px;
      font-weight: 300;
      font-size: 10px;
      color: white;
    }
  }
}

#main {
  background-color: $primary-color-dusk;
  padding-top: 70px;

  #title {
    padding-top: 10px;
    margin: auto;
    width: 800px;
    color: white;
    font-size: 24px;
    font-weight: bold;
  }

  .carousel-container {
    position: relative;
    margin: 0 20px;

    img {
      height: 350px;
      padding: 45px 10px;
      -webkit-filter: grayscale(1);

      &.slick-center {
        height: 400px;
        padding: 20px 10px;
        opacity: 1;
        -webkit-filter: none;
      }
    }

    button {
      display: none !important;
    }
  }

  .content-container {
    position: relative;
    width: 100%;
    padding: 40px 0;
    background-color: $fake-white;
    box-shadow: 3px 0 5px rgba(0,0,0,0.5);

    .tab-container {
      position: relative;
      margin: auto;
      width: $desktop-width;

      .tab-bar {
        position: relative;
        top: 0;
        width: 500px;
        border-bottom: 2px solid $fake-black;
        font-size: 0px;

        .tab-button {
          display: inline-block;
          padding: 5px 20px;
          text-align: center;
          cursor: pointer;
          background-color: $primary-color;
          font-size: 16px;
          box-sizing: border-box;

          &.active {
            background-color: $fake-white;
//            border-bottom: 2px solid $fake-white;
//            box-shadow: 2px 0px 2px $primary-color-dark;
          }
        }
      }

      .tab-content {
        .tab {
          background-color: $fake-white;
          height: 600px;
          width: 500px;
          padding: 20px;
          display: none;

          &.active {
            display: block;
          }
        }
      }

      .info-container {
        position: absolute;
        right: 0px;
        top: 30px;
        width: 250px;
        height: 400px;
        background-color: $primary-color-lite;
        box-shadow: 5px 5px 5px $fake-black;

        .info-header {
          position: absolute;
          top: -15px;
          right: 10px;
          width: 150px;
          height: 30px;
          text-align: center;
          line-height: 30px;
          color: $fake-black;
          background-color: $primary-color-dawn;
          box-shadow: 2px 2px 2px $fake-black;
        }
      }
    }
  }
}

