$primary-color-dawn: #86C5EE;
$primary-color-lite: #59ADE4;
$primary-color: #359ADC;
$primary-color-dark: #1086D2;
$primary-color-dusk: #0666A5;

$secondary-color: #2CE28A;
$secondary-color-lite: #81F0BB;
$secondary-color-dark: #00B35D;
$tertiary-color: #454DE1;

$desktop-width: 700px;
$fake-white: #f7f7f7;
$fake-black: #333;

// GENERAL STUFF

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  min-width: 800px;
}

.title {
  font-family: 'Montserrat';
}

// HEADER STUFF
#header {
  background-color: white;
  position: absolute;
  height: 35px;
  width: 100%;
  box-shadow: 5px 0 5px rgba(0,0,0,0.7);
  z-index: 100000000;

  .header-container {
    width: $desktop-width;
    margin: auto;
    height: 35px;

    .header {
      line-height: 35px;
      font-weight: bold;
      font-size: 16px;
    }
  }
}

// FOOTER STUFF
#footer {
  background-color: $fake-black;
  height: 140px;

  .footer-container {
    width: $desktop-width;
    margin: auto;
    padding: 30px 0px;

    .left {
      float: left;
      color: white;

      a {
        display: block;
        text-decoration: none;

        &:visited {
          color: white;
        }
      }

      i {
        padding: 3px 6px 3px 0px;
        display: inline-block;
      }
    }

    .right {
      float: right;
      width: 300px;
      font-weight: 300;
      font-size: 10px;
      color: white;
    }
  }
}

// MAIN CONTENT
#main {
  background-color: $primary-color-dusk;
  padding-top: 35px;

  .carousel-container {
    position: relative;
    height: 400px;

    .overlay-container {
      position: absolute;
      height: inherit;
      width: 100%;
      z-index: 10;
      pointer-events: none;

      .overlay-center {
        position: relative;
        width: 600px;
        height: inherit;
        margin: auto;

        #title, #price {
          position: absolute;
          height: 30px;
          line-height: 30px;
          color: $fake-white;
          background-color: $fake-black;
          padding: 0px 10px;
        }

        #title {
          top: 0px;
          left: 0px;
          font-size: 20px;
        }

        #price {
          bottom: 0px;
          right: 0px;
          font-size: 16px;
        }
      }
    }

    img {
      height: 300px;
      padding: 50px 10px;
      margin: auto;
      -webkit-filter: grayscale(1) blur(2px);

      &.slick-center {
        height: 400px;
        width: 600px;
        padding: 0px 10px;
        opacity: 1;
        -webkit-filter: none;
      }
    }

    button {
      display: none !important;
    }
  }


  .section {
    background-color: $fake-white;
    position: relative;
    width: 100%;

    &.report {
      box-shadow: 5px 0 5px rgba(0, 0, 0, 0.7);

      .section-header {
        color: $fake-black;
        font-weight: bold;
        padding: 20px 0px 0px 0px;
      }

      .expert-container {
        position: relative;
        color: $fake-black;
        padding: 10px 20px 20px 20px;

        .expert-header {
          position: absolute;
          top: -15px;
          left: 20px;
          width: 200px;
          height: 30px;
          text-align: center;
          line-height: 30px;
          color: $fake-black;
          background-color: $fake-white;
          z-index: 10;
        }

        .expert-information {
          width: 400px;
          height: 175px;
          font-size: 14px;
          font-weight: 300;

          .expert-photo {
            display: inline-block;
            vertical-align: top;
            padding-right: 10px;

            img {
              height: 120px;
              width: 120px;
            }
          }

          .expert-contact {
            margin-top: 10px;
            margin-left: 20px;
            display: inline-block;
            vertical-align: top;

            .fa-star {
              color: gold;
            }
          }

          .expert-description {
            padding-top: 3px;
            height: 40px;
            vertical-align: middle;
            font-size: 12px;
            width: 400px;
          }
        }

        .expert-shop-location {
          position: absolute;
          right: 0px;
          top: 20px;
          width: 250px;
          height: 150px;
          overflow: hidden;

          img {
            width: 250px;
          }
        }
      }

      .report-container {
        width: 700px;
        padding: 20px 0 0 0;
        box-sizing: border-box;

        .stream {
          position: relative;
          display: inline-block;
          vertical-align: top;
          width: 211px;
          overflow: hidden;
          padding-left: 20px;
          box-sizing: content-box;

          .grade-a {
            background-color: #00B35D;
          }

          .grade-b {
            background-color: #cdd151;
          }

          .grade-c {
            background-color: #d18323;
          }

          .grade-d {
            background-color: #d12e2f;
          }

          .stream-header {
            position: relative;
            width: 175px;
            height: 30px;

            .stream-grade {
              position: absolute;
              left: 0px;
              height: 30px;
              width: 30px;
              font-size: 24px;
              font-weight: 300;
              line-height: 30px;
              color: $fake-white;
              text-align: center;
            }

            .stream-label {
              position: absolute;
              right: 0px;
              height: 30px;
              width: 145px;
              background-color: #e7e7e7;
              color: $fake-black;
              text-align: center;
              line-height: 30px;
              font-size: 16px;
              font-weight: normal;
            }
          }

          .stream-list-container {
            position: relative;
            width: 150px;
            height: 25px;
            border-bottom: 1px solid #777777;
            margin: 10px 0 10px 20px;

            .stream-grade {
              position: absolute;
              left: 0px;
              width: 25px;
              height: 25px;
              color: white;
              font-size: 16px;
              font-weight: 300;
              line-height: 25px;
              text-align: center;
            }

            .stream-description {
              position: absolute;
              right: 25px;
              width: 95px;
              font-size: 14px;
              line-height: 25px;
              font-weight: 300;
              color: $fake-black
            }

            i.fa-question {
              position: absolute;
              right: -25px;
              height: 25px;
              width: 25px;
              line-height: 25px;
              color: #777777;
            }

            i.fa-angle-right {
              position: absolute;
              left: -15px;
              height: 25px;
              width: 15px;
              line-height: 25px;
              font-weight: bold;
              color: #777777;
            }
          }
        }
      }
    }

    &.detail {
      background-color: #e7e7e7;
      border-bottom: 1px solid #dddddd;
      border-top: 1px solid #dddddd;

      // SIDE BAR
      .info-container {
        position: absolute;
        right: 0px;
        top: 20px;
        width: 200px;
        height: 300px;
        border: 1px solid #f7f7f7;
        border-top: 1px solid #f7f7f7;
        border-bottom: 1px solid #f7f7f7;

        .info-header {
          position: absolute;
          top: -15px;
          right: 10px;
          width: 150px;
          height: 30px;
          text-align: center;
          line-height: 30px;
          color: $fake-black;
          background-color: #e7e7e7;
          z-index: 10;
        }

        .user-photo {
          position: relative;
          width: 60px;
          height: 60px;
          padding: 20px 10px 10px 10px;
          z-index: 0;

          img {
            height: 60px;
            width: 60px;
          }
        }

        .user-description {
          font-size: 12px;
          font-weight: 300;
          padding: 0 10px;
        }

        .user-contact {
          position: absolute;
          bottom: 0px;
          padding: 10px;

          .user-contact-phone,
          .user-contact-mail {
            height: 30px;
            width: 180px;
            margin: 3px 0px;
            position: relative;

            i {
              position: absolute;
              left: 0px;
              top: 0px;
              font-size: 24px;
              line-height: 30px;
              text-align: center;
              width: 30px;
              background-color: $primary-color;
              color: $fake-white;
            }

            .cube {
              position: absolute;
              left: 35px;
              top: 0px;
              width: 140px;
              height: 30px;
              -webkit-transition: -webkit-transform .5s;
              transition: transform .5s;
              -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;

              &.active {
                -webkit-transform: rotateX(90deg);
                transform: rotateX(90deg);
              }

              .show-button, .back-button {
                line-height: 30px;
                font-size: 16px;
                font-weight: 300;
                background: #777;
                padding-left: 20px;
                color: $fake-white;
                cursor: pointer;
              }

              .front {
                -webkit-transform: translateZ(15px);
                transform: translateZ(15px);
              }

              .hidden {
                -webkit-transform: rotateX(-90deg) translateZ(-15px);
                transform: rotateX(-90deg) translateZ(-15px);
                background-color: $primary-color;
              }
            }
          }

          .user-contact-mail i {
            font-size: 16px;
          }
        }
      }

      // CONTENT
      .detail-description {
        font-weight: 300;
        padding: 10px 50px 10px 20px;
        font-size: 12px;
      }

      .detail-specs {
        padding: 5px 0px;
        height: 130px;

        ul {
          margin: 0;
          padding: 0 0 0 20px;

          li {
            float: left;
            width: 100px;
            font-size: 12px;
            font-weight: 300;
            list-style: none;
            margin-right: 10px;
            margin-left: 0px;
            border-bottom: 1px solid #f7f7f7;
            background-color: #777;

            div {
              background-color: #eeeeee;
              margin-left: 10px;
              padding-left: 10px;
              height: 30px;
              line-height: 30px;
            }
          }
        }
      }

      .detail-options {
        padding: 5px 0px;

        table {
          border-collapse: collapse;
          margin: 0px 20px;

          tr {
            width: 100%;

            td {
              position: relative;
              width: 105px;
              height: 35px;
              text-align: center;
              vertical-align: middle;
              background-color: #777777;
              border-color: #777777;
              font-weight: 100;
              font-size: 12px;
            }

            td.active {
              background-color: #eeeeee;
              border-color: #eeeeee;
              font-weight: 300;
              box-shadow: 2px 2px 2px #333333;
              z-index: 2;
            }
          }
        }
      }
    } // DETAIL END

    &.misc {
      border-top: 1px solid #dddddd;
    }

    .center-container {
      width: $desktop-width;
      margin: auto;
      position: relative;

      .section-container {
        width: 500px;
        padding: 20px 0;

        .section-header {
          font-weight: bold;
          padding: 5px 0px;
        }
      }
    }
  }
}

